[Unit]
Description=Habit Taking Service
After=network.target

[Service]
WorkingDirectory=/code
Type=simple
User=root
Restart=always
ExecStart=/usr/bin/python3 /code/main_send_message_bot.py
StandardOutput=syslog

[Install]
WantedBy=multi-user.target